[submodule "anyrouter"]
	path = anyrouter
	url = https://github.com/millylee/anyrouter-check-in.git

[submodule "leaflow"]
	path = leaflow
	url = https://github.com/eooce/leaflow-auto-checkin.git

[submodule "aggregator"]
	path = aggregator
	url = https://github.com/wzdnzd/aggregator.git
