[submodule "nodeseek"]
	path = nodeseek
	url = https://github.com/YYWO/NodeSeek-Signin.git
[submodule "chatgpt-collector"]
	path = chatgpt-collector
	url = https://github.com/wzdnzd/chatgpt-collector.git
[submodule "linuxdo"]
	path = linuxdo
	
	# https://github.com/LeeYouRan/Discuss-Bot.git
	url = https://github.com/WowYiJiu/Linux.do-KeepAlive.git
